body {
    text-align: center;
}
canvas{
    position: absolute;
    top: 55px;
    right:0;
    left:0;
    margin-right: auto;
    margin-left:auto;
}

#modal {
    position:fixed;
    z-index: -1;
    display: none;
    border-radius: 1.5%;
    background-color: #dfe6e9;
    padding-bottom: 2rem;
}

.startMenu {
    position: absolute !important;
    top: 165px;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    width: 500px;
    height: auto;
}

.gameMessage {
    top: 165px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: auto;
}

.selectionAvatar {
    width: 100px;
    height: auto;
    z-index: 9;
}

#avatar-selector {
    position: absolute;
    top: 90px;
    width: 100px;
    height: auto;
    z-index: -1;
}

button {
    border-radius: 5px;
    font-size: 2rem;
    z-index: 99;
    opacity: 1;
    border-width: 5px;
    border-color: black;
    padding: 35px;
}

#playButton {
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#scoreboard {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5rem;
    width: 500px;
}

.hide {
    display: none;
}

#direction-pad {
    position: absolute;
    top: 800px;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    width: 600px;
    height: 650px;
}

#up, #down, #left, #right {
    width: 200px;
    height: 200px;
    touch-action: manipulation;
}

#up {
    position: absolute;
    top: 5px;
    right: 200px;
}

#down {
    position: absolute;
    top: 415px;
    right: 200px;
}

#left {
    position: absolute;
    top: 210px;
    left: 5px;
}

#right {
    position: absolute;
    top: 210px;
    right: 5px;
}
